<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="gidDb" connectionString="Dialect=3;Database=127.0.0.1:C:\Неман\Могилев-Езерище\Events\GID.GDB;User Id=NEMAN;Password=NEMAN" />
  </connectionStrings>
  <appSettings>
    <add key="cycleTime" value="15" />
    <add key="searchTimeBeforePlannedTask" value ="4" />
    <add key="searchTimeBeforeCurrentTime" value="1" />
    <add key="deferredTimeLifespan" value="30" />
  </appSettings>
</configuration>