<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="engine" type="BCh.KTC.TttGenerator.Config.EngineSection, BCh.KTC.TttGenerator, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
	</configSections>
	<connectionStrings>
		<clear />
		<add name="gidDb" connectionString="Dialect=3;Database=10.23.101.88:C:\Неман\Витебск-Узел\Events\GID.GDB;User Id=NEMAN;Password=NEMAN" />
		<add name="cnfDb" connectionString="Dialect=3;Database=10.23.101.88:C:\Неман\Витебск-Узел\Conf\CNF_Витебск-Узел.GDB;User Id=NEMAN;Password=NEMAN" />
	</connectionStrings>
	<appSettings>
		<!-- Время пересчета задания, в секундах -->
		<add key="cycleTime" value="2" />
		<!-- Общее резерное время в минутах, если базе данных GID.GDB таблице 'Times' отсутствуют соответствующие константы -->
		<add key="reserveTime" value="30" />
		<!-- Время в минутах за которое открываюся сигналы если суммарное время констант в таблице 'Times' превышает значение данного параметра, глубина наброса комманд от последнего исполненного события -->
		<add key="prevAckTime" value="25" />
    <!-- Для станций с типом 'onlyRon' время за которое открытать сигнал в минута, если не прописано в TIMES -->
    <add key="onlyRonTime" value="30" />
		<!-- Время в минутах, создания комманды до планового-->
		<add key="advanceCmdExecPeriod" value="1" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
	<engine>
		<controlledStations>
			<station id="160002" genNotCfmArr="true" genNotCfmDep="true" onlyRon="true"  ListStNotDep="160300,160101" IsComparePlanWithPassed="false" />
			<station id="167105" genNotCfmArr="true" genNotCfmDep="true" ListAxisEqualsForNumberAndDifDir="1В"  />
			<station id="160101" genNotCfmArr="true" genNotCfmDep="true" onlyRon="true" ListStNotDep="160002,166102" />
			<station id="165754" genNotCfmArr="true" genNotCfmDep="true" />
			<station id="165735" genNotCfmArr="true" genNotCfmDep="true" />
			<station id="165701" genNotCfmArr="true" genNotCfmDep="true" />
			<station id="165608" genNotCfmArr="true" genNotCfmDep="true" />
		</controlledStations>
	</engine>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>