<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="engine" type="BCh.KTC.TttGenerator.Config.EngineSection, BCh.KTC.TttGenerator, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
  </configSections>
  <connectionStrings>
    <clear />
    <add name="gidDb" connectionString="Dialect=3;Database=localhost:C:\Неман\Могилев-Езерище\Events\GID.GDB;User Id=NEMAN;Password=NEMAN" />
    <add name="cnfDb" connectionString="Dialect=3;Database=localhost:C:\Неман\Могилев-Езерище\Conf\CNF_Могилев-Езерище.GDB;User Id=NEMAN;Password=NEMAN" />
  </connectionStrings>
  <appSettings>
    <add key="cycleTime" value="10" /> <!-- время цикла обработки, сек -->
    <add key="reserveTime" value="1" /> <!-- резервное время, мин (используются в расчетах временных зависимостей - 3 time constraints) -->
    <add key="prevAckTime" value="20" /> <!--  время, мин, в течение которого задания генерируются начиная от 1) последнего подтвержденного сообщения; 2) начала плановой нитки поезда. -->
    <add key="advanceCmdExecPeriod" value="10" /> <!-- время, мин, используемое в расчетах верменных зависимостей  - 3 time constraints -->
    <!-- advanceCmdExecPeriod: canCreateTask = executionTime.AddMinutes(-_advanceCmdExePeriod) < currentTime -->
  </appSettings>
  <engine>
    <controlledStations>
      <station id="156914" />
      <station id="156908" />
      <station id="156702" />
      <station id="156543" />
      <station id="160708" />
      <station id="160712" />
      <station id="167054" />
      <station id="160801" />
      <station id="160731" />
      <station id="160727" />
      <station id="160604" />
      <station id="160318" />
      <station id="160322" />
      <station id="160337" />
    </controlledStations>
  </engine>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>