<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="engine" type="BCh.KTC.TttGenerator.Config.EngineSection, BCh.KTC.TttGenerator, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
  </configSections>
  <connectionStrings>
    <clear />
    <add name="gidDb" connectionString="Dialect=3;Database=10.23.101.88:C:\Неман\Могилев-Езерище\Events\GID.GDB;User Id=NEMAN;Password=NEMAN" />
    <add name="cnfDb" connectionString="Dialect=3;Database=10.23.101.88:C:\Неман\Могилев-Езерище\Conf\CNF_Могилев-Езерище.GDB;User Id=NEMAN;Password=NEMAN" />
  </connectionStrings>
  <appSettings>
    <!-- Время пересчета задания, в секундах -->
    <add key="cycleTime" value="3" />
    <!-- Общее резерное время в минутах, если базе данных GID.GDB таблице 'Times' отсутствуют соответствующие константы -->
    <add key="reserveTime" value="1" />
    <!-- Время в минутах за которое открываюся сигналы если суммарное время констант в таблице 'Times' превышает значение данного параметра, глубина наброса комманд от последнего исполненного события -->
    <add key="prevAckTime" value="25" />
    <!-- Время в минутах, создания комманды до планового-->
    <add key="advanceCmdExecPeriod" value="1" />
    <!-- Время в минутах, интервал пересчета времени выполнения команды (если поезд задерживается и опережает, может быть не меньше 2-х минут)-->
    <add key="periodConversionExecTime" value="1" />
  </appSettings>
  <engine>
    <controlledStations>
      <station id="160708" />
      <station id="160712" />
      <station id="160801" genNotCfmArr="true" genNotCfmDep="true" />
      <station id="160731" />
      <station id="160604" />
      <station id="160318" genNotCfmArr="true" genNotCfmDep="true" />
      <station id="160322" />
      <station id="160337" />
      <station id="160727" />
    </controlledStations>
  </engine>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>