<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="gidDb" connectionString="Dialect=3;Database=10.23.101.88:C:\Неман\Могилев-Езерище\Events\GID.GDB;User Id=NEMAN;Password=NEMAN" />
  </connectionStrings>
  <appSettings>
    <add key="cycleTime" value="2" /> <!-- время цикла обработки, сек -->
    <add key="searchTimeBeforePlannedTask" value ="3" /> <!-- мин - используется при обработке отложенных заданий
      - определяет начало поиска (временного интервала) исполненных событий относительно плановой нитки
      (= deferredTask.PlannedTime - searchTimeBeforePlannedTask)-->
    <add key="searchTimeBeforeCurrentTime" value="1" /> <!-- мин - используется при обработке отложенных заданий
      - определяет конец поиска (временного интервала) исполненных событий относительно тек. времени
      - необходимое для связывания исполенной нитки -->
    <add key="deferredTimeLifespan" value="30" /> <!-- мин - время жизни отложенных заданий (время ожидания исполненного события)-->
    <add key="categories" value="pass,sub" />  <!-- типы поездов (all, cargo, sub, pass) ввнодить через запятую-->
    <add key="urlCategories" value="http://ardp.ktc.rw/Service/GetTrainsForCategory?" /> <!-- url запрос для получения номером поездов по категориям-->
    <add key="StationNotBinding" value="160002,166403,166704" /> <!-- список станций через запятую по которым не надо связывать-->
  
  </appSettings>
</configuration>