<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="gidDb" connectionString="Dialect=3;Database=localhost:C:\Неман\Могилев-Езерище\Events\GID.GDB;User Id=NEMAN;Password=NEMAN" />
  </connectionStrings>
  <appSettings>
    <add key="cycleTime" value="15" />
  </appSettings>
</configuration>